{
   "printWidth": 100,
   "tabWidth": 3,
   "useTabs": false,
   "overrides": [
      {
         "files": "*.json",
         "options": {
            "tabWidth": 4
         }
      },
      {
         "files": ["webpack.common.js", "webpack.dev.js", "webpack.prod.js"],
         "options": {
            "tabWidth": 4
         }
      }
   ]
}
